{{ define "Index" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
   <head>
      <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
      <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
  </head>
    <h2> Registered </h2>
    <table border="1" id="fancytable" class="display">
      <thead>
      <tr>
        <td>ID</td>
        <td>Name</td>
        <td>lname</td>
        <td>View</td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
       </thead>
       <tbody>
    {{ range . }}
      <tr>
        <td>{{ .Id }}</td>
        <td> {{ .Fname }} </td>
        <td>{{ .Lname }} </td> 
        <td><a href="/show?id={{ .Id }}">View</a></td>
        <td><a href="/edit?id={{ .Id }}">Edit</a></td>
        <td><a href="/delete?id={{ .Id }}">Delete</a></td>
      </tr>
    {{ end }}
       </tbody>
    </table>
  {{ template "Footer" }}
  <script>$(document).ready(function() {
    $('#fancytable').DataTable();
} );</script>

{{ end }}